@import 'flexboxgrid/dist/flexboxgrid.css';
// @import 'node_modules/flexboxgrid-sass/flexboxgrid.scss';

/*.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}*/

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
